*{
    margin:0;
    padding: 0;
}

:root{
    --fundo:transparent linear-gradient(90deg, #1FACC2 0%, #35AB9D 43%, #52A96D 100%) 0% 0% no-repeat padding-box;
    --cinza:#4E4E4F;
}
body{
    font-family: 'Montserrat';
}
.blue{
    background-color: #1FACC2!important;
}
.promo{
    top: 0px;
    left: 0px;
    height: 30px;
    font-size: 14px;
    background: var(--fundo);
    opacity: 1;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-top{
    height: 70px;
    background-color: #616161;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.space{
    justify-content: space-between;
}
.spacing{
    margin-top:1rem!important;
}
.nav-bar{
    background-color:var(--cinza);
}
.container{
    width: 980px;
    margin: auto;
    display: flex;
    box-sizing: border-box;
}
.form-search{
    margin: 10px;
}
.form-search button,input{
    padding: 10px;
}
.form-search input{
    width: 320px;
}
.form-search button{
    top: 0;
    right: 0;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item{
    width: 130px;
    height: 85px;
    margin: 5px;
    font-size: 11px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}
/* Carousel principal */
.slider-main{
    height: 400px;
    display: flex;
    align-items: center;
    background-image: url("../img/banner.webp");
    background-repeat: no-repeat;
    background-size: 100%;
}
.fundo-cinza{
    background-image: url("../img/banner.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 15px;
    border-radius: 10px;
}
.splide__slide{
    /* border: 1px solid red; */
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    /* border: 1px solid blue; */
    height: 300px;
    color: white;
    box-sizing: border-box;
}
.content-title{
    margin-bottom: 50px;
    font-size: 30px;
}
.content-legend{
    margin-bottom: 50px;
}
/* Espaçamentos */
.ps{
    padding: 10px;
}
/* Formatação de Texto */
/* Cor */
.text-gray{
    color: var(--cinza);
}
.text-bold{
    font-weight: bold;
}
.text-white{
    color: #fff;
}
/* Alinhamento */
.text-center{
    text-align: center;
}

.card{
    width: 230px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    border: 1px solid #e2e2e2;
}
.card:hover{
    box-shadow: 1px 1px 5px #748184;
    border: 1px solid #1BA277;
}
.card-title{
    font-size: 18px;
    font-weight: bold;
}
.card-code{
   font-size: 10px;
   color: var(--cinza);
   font-weight: 500;
}
.card-price-a{
    color: #748184;
    font-size: 10px;
    text-decoration-line: line-through;
}
.card-price-b{
    color: #748184;
    font-size: 10px;
}
.card-price{
    font-size: 30px;
    color: #1BA277;
    font-weight: 800;
}
.btn-comprar{
    background:var(--fundo);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 90%;
}
.timeout{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.timeout .timer{
    display: flex;
    font-weight: bold;
    align-items: center;
}
.desconto{
    font-size: 30px;
    font-weight: bold;
}
.redondo{
    border-radius: 8px;
}
#horas , #minutos, #segundos{
    border: 10px solid #1BA277;
    padding: 20px;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-secondary{
    width: 500px;
    height: 300px;
    background-color: #1BA277;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
}
/* Elementos */
.logo{
    width: 195px;
    height: 60px;
    background-color:gainsboro;
}
.icon{
    width: 40px;
    height: 40px;
    background-color:gainsboro;
}
.img{
    width: 230px;
    height: 230px;
    background-image: url("../img/camera.png");
    background-repeat: no-repeat;
}

