*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat';
}
/* Variaveis  */
:root{
    --fundo:transparent linear-gradient(90deg, #1FACC2 0%, #35AB9D 43%, #52A96D 100%) 0% 0% no-repeat padding-box;
    --cinza:#4E4E4F;
    --branco: #fff;
    --verde: #1BA277;
}
.container{
    width: 1025px;
    margin: auto;
    display: flex;
    box-sizing: border-box;
}
/* Cabeçalho */
.promo{
    top: 0px;
    left: 0px;
    height: 30px;
    font-size: 14px;
    background: var(--fundo);
    opacity: 1;
    color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-top{
    height: 70px;
    background-color: var(--cinza);
    opacity: 1;
}
.nav-bar{
    background-color:#424241;
}

/* Form Search */
.form-search{
    margin: 10px;
    display: flex;
}
.form-search button,input{
    padding: 8px;
}
.form-search input{
    width: 320px;
    border-radius: 10px;
    border: 1px solid var(--verde);
}
.form-search button{
    border-radius: 10px;
    border: none;
    background: var(--fundo);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item{
    width: 130px;
    height: 85px;
    margin: 5px;
    font-size: 11px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--branco);
}
/* Carousel principal */
.slider-main{
    height: 400px;
    display: flex;
    align-items: center;
    background-image: url("../img/banner.webp");
    background-repeat: no-repeat;
    background-size: 100%;
}
.fundo-cinza{
    background-image: url("../img/banner.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 15px;
    border-radius: 10px;
}
.splide__slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    height: 300px;
    color: white;
    box-sizing: border-box;
}
.content-title{
    margin-bottom: 50px;
    font-size: 30px;
}
.content-legend{
    margin-bottom: 50px;
}

/* Formatação de Texto */
.text-gray{
    color: var(--cinza);
}
.text-green{
    color: var(--verde)
}
.text-bold{
    font-weight: bold;
}
.text-white{
    color: var(--branco);
}
.text-justify{
    text-align: justify;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
/* Card */
.card{
    width: 230px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 4px!important;
    border: 1px solid #e2e2e2;
}
.card:hover{
    box-shadow: 1px 1px 5px #748184;
    border: 1px solid var(--verde);
}
.card-title{
    font-size: 18px;
    font-weight: bold;
}
.card-code{
   font-size: 10px;
   color: var(--cinza);
   font-weight: 500;
}
.card-price-a{
    color: #748184;
    font-size: 10px;
    text-decoration-line: line-through;
}
.card-price-b{
    color: #748184;
    font-size: 10px;
}
.card-price{
    font-size: 30px;
    color: var(--verde);
    font-weight: 800;
}

/* Contador Regressivo */
.timeout{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.timeout .timer{
    display: flex;
    font-weight: bold;
    align-items: center;
}
#horas , #minutos, #segundos{
    border: 10px solid var(--verde);
    padding: 20px;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.timer-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.timer-product .desconto{
    font-size: 30px;
    font-weight: bold;
}
/* Card Secundário */
.card-secondary{
    width: 500px;
    height: 300px;
    background-color: var(--verde);
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card-secondary-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    justify-content: space-between;
}
/* Elementos Adicionais*/
.radius{
    border-radius: 8px;
}
.btn-comprar{
    background:var(--fundo);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 90%;
}
.btn-conferir{
    text-decoration: none;
    background-color: #4E4E4F;
    color: var(--branco);
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    font-weight: bold;
}
.btn-ver-produtos{
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: 10px;
}
/* Padding */
.ps{
    padding-top: 10px;
}
.space-between{
    justify-content: space-between;
}
.spacing{
    margin-top:1rem!important;
}
/* background colors */
.bg-blue{
    background-color: #1FACC2!important;
}
.bg-green{
    background-color: #52A96D!important;
}
.bg-gray{
    background-color: #4E4E4F!important;
}
/* Logotipo */
.logo{
    width: 195px;
    height: 60px;
    background-color:gainsboro;
}
.icon{
    width: 40px;
    height: 40px;
    background-color:gainsboro;
    border-radius: 50%;
}
.img{
    width: 230px;
    height: 230px;
    background-image: url("../img/camera.png");
    background-repeat: no-repeat;
}
.link-navbar{
    text-decoration: none;
    color: var(--branco);
}
.link-navbar:hover{
color: var(--verde);
}
/* Circulos */
.circle{
    display: flex;
    align-items: center;
}
.circle-item{
    width: 150px;
    height: 150px;
    border: 2px solid var(--verde);
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-item img{
    width: 50%;
}

.circle-item:hover{
    background: var(--fundo);
}
.img-marcas{
    width: 150px!important;
    display: flex;
    align-items: center;
}
.img-marcas img{
    box-sizing: border-box;
    width: 100%;
}
/* Footer */
.main-footer{
    height: 300px;
    margin-bottom: 5px;
    padding-top: 15px;
}
.footer-item{
    margin: 5px;
    font-size: 14px;
}
.footer-item ul li {
    list-style: none;
}
.footer-item a{
    text-decoration: none;
    color: var(--branco);
}
.footer-1{
    height: 400px;
    background-image: url("../img/banner-2.jpg");
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-1-item{
    width: 400px;
    height: 250px;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-2{
    flex-direction: column;
}
.newsletter{
    background: var(--fundo);
    display: flex;
    align-items: center;
    height: 100px;
}
.newsletter .container{
    justify-content: space-between!important;
}
.newsletter-item{
    margin: 8px;
}

.newsletter-input{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 280px;
    padding: 5px;
}

.newsletter-button{
    background-color: var(--cinza);
    padding: 7px;
    border-radius: 10px;
    border: none;
    color: var(--branco);
    font-weight: bold;
    box-sizing: border-box;
}
.large{
    font-size: 50px;
}
.medium{
    font-size: 17px;
}
.icones{
    display: flex;
}
.icones .icon{
    margin: 3px;
    border-radius: 3px;
}
.linha{
    border-bottom: 1px solid var(--verde);
}
.direitos-autorais{
    padding-top: 20px;
    flex-direction: column!important;
    align-items: center;
    justify-content: center;
}

.social-area{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-area p{
    margin-right: 20px;
}
input::placeholder{
    font-family: 'Montserrat';
}